body {
    padding: 0;
    margin: 0;
}

html, body, #map {
    min-height: 300px;
    height: 50vw;
    width: 100vw;
}

#progressdiv {
    height: 100%;
    width: 100%;
}

#progressbar {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}